

.Romain-div{
    padding:0;
    margin:0;
    font-family:'Poppins',sans-serif;
    background-size: cover;
    list-style-type:none;
}

.Rocontainer{
    font-style:italic bold;
    position: relative;
    overflow:hidden;
    width:100%;
    height: 100vh; 
    scroll-snap-type: y mandatory;
    display: block;
    background-size: cover;
}

.Rocontainer .Rosection{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-blend-mode: multiply;
    background-size:cover;
}

.Rocontainer .Rosection:nth-child(1)
{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/351/27/647/2018-cars-4k-ferrari-portofino-gt-wallpaper-935173089430454afcd4cff671a67905.jpg');
    background-size:100% 100%;
    background-attachment: fixed;
}
.Rocontainer .Rosection:nth-child(2)
{
    background:black;
    background-size: 100% 75%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.Rocontainer .Rosection:nth-child(3)
{
    background-image: url('https://images.caricos.com/f/ferrari/2018_ferrari_portofino/images/1920x1080/2018_ferrari_portofino_44_1920x1080.jpg');
    background-size: 100% 75%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.Rocontainer .Rosection:nth-child(4)
{
    background-image: url('https://www.wsupercars.com/wallpapers/Ferrari/2018-Ferrari-Portofino-004-1080.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;  
}


.Ronav{
    height: 40px;
    border: 1px solid #dfdfdf;
}


.Rodiv-header{
    width: 80%;
    margin:0 auto;
    display:flex;
    display: flex;
    justify-content: space-evenly;
    text-decoration:none;
    position:relative;
    display:flex;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    background-size: cover;
    background:transparent;
    top:10px;
}

.Ronav-home{
    position:absolute;
    left:0px;
    color: black;
}

.Ronav-lambo{
    position: absolute;
    color:black;
    left:200px;
}
.Ronav-tesla{
    position: absolute;
    color:black;
    left:400px;
}
.Ronav-ferari{
    position: absolute;
    color:#000000;
    left:600px;
}

.Ronav-benz{
    position: absolute;
    left:800px;
    color:black;
}


.Ronav-tesla:hover{
    transform: scale(1.5);
}
.Ronav-lambo:hover {
    transform: scale(1.5);
}
.Ronav-benz:hover {
    transform: scale(1.5);
}
.Ronav-ferari:hover {
    transform: scale(1.5);
}
.Ronav-home:hover {
    transform: scale(1.5);
}

.Rospan{
    font-size:2em;
    top:50px;
    position: relative;
}

video{
    position:relative;
    top:0px;
    left:0;
    object-fit: 100% 100%;
    width: 100%;
}


ol{
    font-family: 'Roboto Condensed', sans-serif;
    list-style-type: none;
}


.div-Ro3a{
    font-family: 'Roboto Condensed', sans-serif;
}

.div-Ro3b{
    font-family: 'Roboto Condensed', sans-serif;
}
